# Java
*.class
*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE specific
.settings/
.project
.classpath
.factorypath
*.sublime-project
*.sublime-workspace
.idea/
*.iml
*.iws
.vscode/
.DS_Store

# Logs
logs/
*.log

# Temp files
.mvn_dist/
maven.zip
